<html>
  <body>
    <form method="post" action="/add">
      <input type="text" name="taskName" />
      <input type="date" name="dueDate" />
      <input type="submit" value="Add Task" />
    </form>
    <table border="2">
      <tr>
        <th>Tasks</th>
        <th>Is Done</th>
      </tr>
      {% for task in TaskList: %}
      <tr>
        <form method="post" action="/update">
          <td>
            <input type="hidden" name="id" value="{{ task[0] }}" />
            <input type="text" name="taskName" value="{{ task[1] }}" />
          </td>
          <td>
            <input type="text" name="isDone" value="{{ task[2] }}" />
          </td>
          <td>
            <input type="submit" name="saveOrDelete" value="save" />
          </td>
          <td>
            <input type="submit" name="saveOrDelete" value="x" />
          </td>
        </form>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
